Project Final: Build a Regression Model in Keras

## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

PART B: Normalized Data

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

## Import Keras

#### Let's go ahead and import the Keras library

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,))) #We have de 10 nodes and ReLu 
    model.add(Dense(1))
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [15]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [18]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

PART C , 100 epochs this time for training.

In [20]:
# fit the model
model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
 - 0s - loss: 149.0147
Epoch 2/100
 - 0s - loss: 148.2751
Epoch 3/100
 - 0s - loss: 147.5799
Epoch 4/100
 - 0s - loss: 146.9224
Epoch 5/100
 - 0s - loss: 146.3219
Epoch 6/100
 - 0s - loss: 145.6622
Epoch 7/100
 - 0s - loss: 145.0454
Epoch 8/100
 - 0s - loss: 144.4307
Epoch 9/100
 - 0s - loss: 143.8971
Epoch 10/100
 - 0s - loss: 143.2561
Epoch 11/100
 - 0s - loss: 142.7402
Epoch 12/100
 - 0s - loss: 142.1954
Epoch 13/100
 - 0s - loss: 141.6401
Epoch 14/100
 - 0s - loss: 141.1240
Epoch 15/100
 - 0s - loss: 140.6000
Epoch 16/100
 - 0s - loss: 140.1056
Epoch 17/100
 - 0s - loss: 139.5902
Epoch 18/100
 - 0s - loss: 139.0478
Epoch 19/100
 - 0s - loss: 138.5892
Epoch 20/100
 - 0s - loss: 138.1111
Epoch 21/100
 - 0s - loss: 137.5828
Epoch 22/100
 - 0s - loss: 137.1024
Epoch 23/100
 - 0s - loss: 136.6413
Epoch 24/100
 - 0s - loss: 136.1537
Epoch 25/100
 - 0s - loss: 135.6803
Epoch 26/100
 - 0s - loss: 135.1630
Epoch 27/100
 - 0s - loss: 134.7384
Epoch 28/100
 - 0s - loss: 134.1915
Epoch 29/100
 - 0s - loss: 133.7829
Epoch 30/100
 - 0s - loss: 133.3066
Epoch 31/100
 - 0s - loss: 132.8174
Epoch 32/100
 - 0s - loss: 132.2926
Epoch 33/100
 - 0s - loss: 131.7912
Epoch 34/100
 - 0s - loss: 131.3886
Epoch 35/100
 - 0s - loss: 130.8067
Epoch 36/100
 - 0s - loss: 130.2945
Epoch 37/100
 - 0s - loss: 129.8747
Epoch 38/100
 - 0s - loss: 129.3417
Epoch 39/100
 - 0s - loss: 128.9017
Epoch 40/100
 - 0s - loss: 128.4076
Epoch 41/100
 - 0s - loss: 127.8867
Epoch 42/100
 - 0s - loss: 127.3834
Epoch 43/100
 - 0s - loss: 126.8508
Epoch 44/100
 - 0s - loss: 126.3602
Epoch 45/100
 - 0s - loss: 125.8738
Epoch 46/100
 - 0s - loss: 125.2442
Epoch 47/100
 - 0s - loss: 124.7220
Epoch 48/100
 - 0s - loss: 124.0702
Epoch 49/100
 - 0s - loss: 123.4807
Epoch 50/100
 - 0s - loss: 122.8959
Epoch 51/100
 - 0s - loss: 122.2551
Epoch 52/100
 - 0s - loss: 121.6853
Epoch 53/100
 - 0s - loss: 121.0899
Epoch 54/100
 - 0s - loss: 120.4133
Epoch 55/100
 - 0s - loss: 119.8965
Epoch 56/100
 - 0s - loss: 119.1162
Epoch 57/100
 - 0s - loss: 118.4568
Epoch 58/100
 - 0s - loss: 117.8224
Epoch 59/100
 - 0s - loss: 117.0758
Epoch 60/100
 - 0s - loss: 116.4119
Epoch 61/100
 - 0s - loss: 115.7895
Epoch 62/100
 - 0s - loss: 115.0598
Epoch 63/100
 - 0s - loss: 114.4283
Epoch 64/100
 - 0s - loss: 113.6329
Epoch 65/100
 - 0s - loss: 112.8954
Epoch 66/100
 - 0s - loss: 112.1506
Epoch 67/100
 - 0s - loss: 111.3873
Epoch 68/100
 - 0s - loss: 110.6355
Epoch 69/100
 - 0s - loss: 109.8779
Epoch 70/100
 - 0s - loss: 109.0939
Epoch 71/100
 - 0s - loss: 108.4151
Epoch 72/100
 - 0s - loss: 107.6115
Epoch 73/100
 - 0s - loss: 106.8554
Epoch 74/100
 - 0s - loss: 106.0660
Epoch 75/100
 - 0s - loss: 105.3236
Epoch 76/100
 - 0s - loss: 104.5965
Epoch 77/100
 - 0s - loss: 103.8564
Epoch 78/100
 - 0s - loss: 103.0548
Epoch 79/100
 - 0s - loss: 102.2574
Epoch 80/100
 - 0s - loss: 101.5407
Epoch 81/100
 - 0s - loss: 100.7785
Epoch 82/100
 - 0s - loss: 100.1229
Epoch 83/100
 - 0s - loss: 99.1962
Epoch 84/100
 - 0s - loss: 98.5552
Epoch 85/100
 - 0s - loss: 97.7540
Epoch 86/100
 - 0s - loss: 96.9927
Epoch 87/100
 - 0s - loss: 96.3832
Epoch 88/100
 - 0s - loss: 95.6010
Epoch 89/100
 - 0s - loss: 94.8924
Epoch 90/100
 - 0s - loss: 94.1727
Epoch 91/100
 - 0s - loss: 93.4896
Epoch 92/100
 - 0s - loss: 92.8141
Epoch 93/100
 - 0s - loss: 92.1151
Epoch 94/100
 - 0s - loss: 91.4126
Epoch 95/100
 - 0s - loss: 90.7044
Epoch 96/100
 - 0s - loss: 90.0722
Epoch 97/100
 - 0s - loss: 89.3563
Epoch 98/100
 - 0s - loss: 88.7267
Epoch 99/100
 - 0s - loss: 88.0285
Epoch 100/100
 - 0s - loss: 87.4206

Next we need to evaluate the model on the test data.

In [21]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 106us/step

91.32028721682848

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

91.32029132150949 0.0

Create a list of 100 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [25]:
total_mean_squared_errors = 100
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 54.198526154058264
MSE 2: 56.125113885379534
MSE 3: 40.1945607577327
MSE 4: 40.08249434684087
MSE 5: 40.56168686456279
MSE 6: 44.29380794636254
MSE 7: 44.49595158154139
MSE 8: 33.91558379880047
MSE 9: 37.07186922980744
MSE 10: 34.359053627186995
MSE 11: 35.38441888259838
MSE 12: 32.0574397732139
MSE 13: 39.195875994981684
MSE 14: 40.30456634323959
MSE 15: 34.56191125271004
MSE 16: 29.644780983045262
MSE 17: 37.011984204783026
MSE 18: 34.94962439799386
MSE 19: 34.372486373753226
MSE 20: 34.450974288496
MSE 21: 33.733406054549235
MSE 22: 33.49273129188513
MSE 23: 29.655780372496174
MSE 24: 31.954890470288717
MSE 25: 35.36003454140475
MSE 26: 35.70769398266444
MSE 27: 32.17237579938278
MSE 28: 32.64725477718613
MSE 29: 37.53781939015805
MSE 30: 37.081519599099764
MSE 31: 30.42779815081254
MSE 32: 32.02096680452909
MSE 33: 32.62548538010483
MSE 34: 35.277301578460005
MSE 35: 35.28792463382857
MSE 36: 42.32700388022611
MSE 37: 29.53308313178399
MSE 38: 36.279119522440396
MSE 39: 34.54157112640085
MSE 40: 30.225898532805704
MSE 41: 37.056723140975805
MSE 42: 29.724024355990217
MSE 43: 35.21767501460696
MSE 44: 36.85238724001789
MSE 45: 36.35864230652843
MSE 46: 37.483641380631035
MSE 47: 32.96795474055516
MSE 48: 35.70948035971632
MSE 49: 35.167567651248675
MSE 50: 37.50916466820973
MSE 51: 30.3004615808382
MSE 52: 35.5380613333199
MSE 53: 32.667784224821915
MSE 54: 34.13802226538797
MSE 55: 40.586616398832945
MSE 56: 35.6399518417309
MSE 57: 30.62261118472201
MSE 58: 32.51352243516052
MSE 59: 36.63857386567446
MSE 60: 33.37581665384731
MSE 61: 34.184484475638875
MSE 62: 32.59165413865765
MSE 63: 32.2744184821169
MSE 64: 35.36478654312084
MSE 65: 32.72395239524471
MSE 66: 36.29682674222779
MSE 67: 31.719772153687707
MSE 68: 32.94945569331592
MSE 69: 31.286298671586614
MSE 70: 31.12855945821719
MSE 71: 33.69731783326775
MSE 72: 30.978615733026302
MSE 73: 31.970804936677506
MSE 74: 33.61932761923781
MSE 75: 37.517328552443615
MSE 76: 31.937984725804004
MSE 77: 31.077319018663324
MSE 78: 30.407799865821417
MSE 79: 36.47023443573887
MSE 80: 34.81702477415017
MSE 81: 31.84909840926383
MSE 82: 34.39689007237505
MSE 83: 34.64771043598459
MSE 84: 30.60082586220553
MSE 85: 31.094501199074163
MSE 86: 32.966357049046984
MSE 87: 29.296524788569478
MSE 88: 30.4199008262659
MSE 89: 31.2189478118057
MSE 90: 31.48472459416559
MSE 91: 32.844970715470296
MSE 92: 29.137719169789534
MSE 93: 34.02504745038968
MSE 94: 33.183547430439674
MSE 95: 33.57761889831148
MSE 96: 32.2056362003956
MSE 97: 35.11939039508116
MSE 98: 31.321126277392736
MSE 99: 30.86966306569121
MSE 100: 32.01202428379491


Below is the mean and standard deviation of 100 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 34.564772284307914
Standard Deviation: 4.331233743626679

<a id='item32'></a>