Project Final: Build a Regression Model in Keras

## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## Import Keras

#### Let's go ahead and import the Keras library

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,))) #We have de 10 nodes and ReLu 
    model.add(Dense(1))
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [15]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [19]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [21]:
# fit the model
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
 - 0s - loss: 230.5989
Epoch 2/50
 - 0s - loss: 222.5245
Epoch 3/50
 - 0s - loss: 215.4926
Epoch 4/50
 - 0s - loss: 209.2251
Epoch 5/50
 - 0s - loss: 203.0103
Epoch 6/50
 - 0s - loss: 197.6376
Epoch 7/50
 - 0s - loss: 191.7853
Epoch 8/50
 - 0s - loss: 187.4994
Epoch 9/50
 - 0s - loss: 183.4432
Epoch 10/50
 - 0s - loss: 179.4714
Epoch 11/50
 - 0s - loss: 174.7871
Epoch 12/50
 - 0s - loss: 170.9523
Epoch 13/50
 - 0s - loss: 167.6357
Epoch 14/50
 - 0s - loss: 164.8375
Epoch 15/50
 - 0s - loss: 161.6524
Epoch 16/50
 - 0s - loss: 158.4885
Epoch 17/50
 - 0s - loss: 155.5875
Epoch 18/50
 - 0s - loss: 153.4809
Epoch 19/50
 - 0s - loss: 152.0310
Epoch 20/50
 - 0s - loss: 149.5814
Epoch 21/50
 - 0s - loss: 146.5721
Epoch 22/50
 - 0s - loss: 145.2796
Epoch 23/50
 - 0s - loss: 143.4712
Epoch 24/50
 - 0s - loss: 141.1140
Epoch 25/50
 - 0s - loss: 141.3749
Epoch 26/50
 - 0s - loss: 137.9379
Epoch 27/50
 - 0s - loss: 137.1906
Epoch 28/50
 - 0s - loss: 135.2777
Epoch 29/50
 - 0s - loss: 134.0873
Epoch 30/50
 - 0s - loss: 133.2132
Epoch 31/50
 - 0s - loss: 131.7122
Epoch 32/50
 - 0s - loss: 130.7015
Epoch 33/50
 - 0s - loss: 129.6106
Epoch 34/50
 - 0s - loss: 128.7807
Epoch 35/50
 - 0s - loss: 128.2324
Epoch 36/50
 - 0s - loss: 127.5982
Epoch 37/50
 - 0s - loss: 128.0420
Epoch 38/50
 - 0s - loss: 126.4227
Epoch 39/50
 - 0s - loss: 125.0842
Epoch 40/50
 - 0s - loss: 124.8438
Epoch 41/50
 - 0s - loss: 123.7697
Epoch 42/50
 - 0s - loss: 123.5707
Epoch 43/50
 - 0s - loss: 122.6288
Epoch 44/50
 - 0s - loss: 122.3007
Epoch 45/50
 - 0s - loss: 121.2325
Epoch 46/50
 - 0s - loss: 121.0976
Epoch 47/50
 - 0s - loss: 120.9636
Epoch 48/50
 - 0s - loss: 119.6933
Epoch 49/50
 - 0s - loss: 119.9010
Epoch 50/50
 - 0s - loss: 119.8166

Next we need to evaluate the model on the test data.

In [22]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 158us/step

117.75453502074801

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [23]:
from sklearn.metrics import mean_squared_error

In [24]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

117.75454911152985 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [26]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 93.84494944452082
MSE 2: 119.50998611203289
MSE 3: 99.39151504664746
MSE 4: 117.70795312282723
MSE 5: 103.63328537431735
MSE 6: 85.71626884188852
MSE 7: 83.03906274690597
MSE 8: 55.289453944727825
MSE 9: 53.53673202860317
MSE 10: 55.28144658653481
MSE 11: 49.002156205161874
MSE 12: 44.46908589088415
MSE 13: 55.4959778523368
MSE 14: 52.22274358064226
MSE 15: 50.61943209749981
MSE 16: 43.133194475883805
MSE 17: 47.32999605345495
MSE 18: 49.966826256810656
MSE 19: 45.3659729448337
MSE 20: 49.8598219862262
MSE 21: 49.87931275599211
MSE 22: 48.59691476667583
MSE 23: 51.26323399960416
MSE 24: 44.59046558269019
MSE 25: 45.94657983131779
MSE 26: 51.40966419108863
MSE 27: 48.51740945118531
MSE 28: 44.12245311551881
MSE 29: 55.547938152424344
MSE 30: 49.03221495791932
MSE 31: 50.57604576777486
MSE 32: 42.90752871368309
MSE 33: 47.99820746264412
MSE 34: 47.96913892628692
MSE 35: 48.58769855684447
MSE 36: 52.99238307422033
MSE 37: 49.48486679348745
MSE 38: 56.34393515478832
MSE 39: 50.70378944866094
MSE 40: 47.06089770369545
MSE 41: 52.412633667486
MSE 42: 47.048196156819664
MSE 43: 47.83159639920232
MSE 44: 51.367892021500175
MSE 45: 51.37821439477618
MSE 46: 63.54647575304346
MSE 47: 48.850314007607864
MSE 48: 50.826763634542814
MSE 49: 51.023497226554596
MSE 50: 52.86980559216348


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 57.10203928621319
Standard Deviation: 18.529909283685104